<h3>Create an Account</h3>
<form class="ui form" [formGroup]="authForm">
  <app-input
    label="Username"
    [control]="authForm.controls.username"
    inputType="text"
  ></app-input>

  <app-input
    label="Password"
    [control]="authForm.controls.password"
    inputType="password"
  ></app-input>

  <app-input
    label="Password Confirmation"
    [control]="authForm.controls.passwordConfirmation"
    inputType="password"
    s
  ></app-input>

  <div
    *ngIf="
      authForm.errors &&
      authForm.controls.password.touched &&
      authForm.controls.passwordConfirmation
    "
    class="ui red basic label"
  >
    <p *ngIf="authForm?.errors?.passwordsDontMatch">
      Password and Password Confirmation must match
    </p>
  </div>

  <div>
    <button class="ui submit button primary">Submit</button>
  </div>
</form>

<br />
Form errors: {{ authForm.errors | json }}
<br />
Form valid: {{ authForm.valid | json }}
<br />
Form value: {{ authForm.value | json }}
